body{
    background-image: url(img/img_1.jpg);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: rgb(255, 123, 0);
}
div{
    height: 200px;
}
.button button{
    padding: 15px;
    margin: 20px;
    font-size: 18px;
    background-color: rgb(104, 97, 92);
    color: rgb(255, 123, 0);
    border-radius: 8px;
}
.lvl{
    padding: 20px;
    font-size: 18px;
    background-color: rgb(104, 97, 92);
    color:rgb(255, 123, 0);
    border-radius: 8px;
}
.easy{
    background-color: rgb(124, 116, 111); 

}
.middle{
    background-color: rgb(133, 120, 116)
}
.stat{
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    margin: 20px;
    background-color: rgb(104, 97, 92);
    color: rgb(255, 123, 0);
}
.reset{
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(104, 97, 92);
    color: rgb(255, 123, 0);
}
.button button:hover{
    background-color: rgb(59, 59, 59);
}


